<categorias class="container mx-auto">
  <ul class="flex flex-row space-x-4 text-white text-lg md:text-xl lg:text-2xl dark:text-gray-">
    <li>
      <a href="/shop" class="text-blue-500 hover:text-blue-700">Todos los productos</a>
    </li>
    <li>
      <a href="/procesadores" class="text-blue-500 hover:text-blue-700">Procesadores</a>
    </li>
    <li>
      <a href="/RAM" class="text-blue-500 hover:text-blue-700">RAM</a>
    </li>
    <li>
      <a href="/placaDeVideo" class="text-blue-500 hover:text-blue-700">Placa de video</a>
    </li>
  </ul>
</categorias>
